<!DOCTYPE html>
<html lang='es'>
    <head>
        <title> EQVacaciones - {% block titulo %} {%endblock%}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
    </head>
    <body>
        <div class="container">
            <header> {% block encabezado %} {% endblock %} </header>
            <section class="contenido" >
                {%block contenido %} {% endblock %}
            </section>
        </div>

    </body>
</html>
