{% extends 'base.html' %}
{% block titulo %} Inicio {% endblock %}
{% block encabezado %} <h1> Asociados </h1> {% endblock %}
{% block contenido %}
            <ul>
                {%for dato in asociados%}
                <!--<li>{{dato.asociado.nombre}} se toma del {{dato.fecha_desde | date:'DATE_FORMAT'}} hasta el {{dato.fecha_hasta | date:'DATE_FORMAT'}}</li>-->
                <!-- Single button -->
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="..." alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{dato.nombre}}</h4>

                  </div>
                </div>
                <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vacaciones <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a id="verVacaciones" href="#">Ver Vacaciones</a></li>
                        <li><a href="#">Nuevas Vacaciones</a></li>
                        <!---<li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>-->
                      </ul>
                </div>
                {%endfor%}
            </ul>

{% endblock %}
