{% extends 'base.html' %}
{% block titulo %} Vacaciones por Asociado {% endblock %}
{% block encabezado %} <h1> Vacaciones por Asociado</h1> {% endblock %}
{% block contenido %}
            <p>Estas son las vacaciones registradas para el Asociado: {{asociado.nombre}}</p>
            <ul>
                {%for dato in vacaciones%}
                <li>{{asociado.nombre}} se toma del {{dato.fecha_desde | date:'DATE_FORMAT'}} hasta el {{dato.fecha_hasta | date:'DATE_FORMAT'}}</li>
                {%endfor%}
            </ul>
{% endblock %}
